[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytransform = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
ipykernel = "*"
matplotlib = "*"
pytest-cov = "*"
pip-licenses = "*"

[requires]
python_version = "3.8"
