[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytransform = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
pytest-cov = "*"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
